.main-header {
    width: 100%;
}

.main-header__logo {
    margin-top: 25px;
    margin-bottom: 25px;
    img {
        display: block;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.main-header__info {
    display: block;
    padding-top: 8px;
    list-style: none;
    text-align: right;
    font-weight: lighter;
    font-size: 12px;
    color: #888888;
    img {
        display: inline-block;
        margin-right: 5px;
    }
    li {
        display: inline-block;
        margin-right: 55px;
    }
    li:nth-child(4) {
        margin-right: 0px;
    }
    li:last-child {
        margin-right: 0px;
    }
}

.main-header__info_underline {
    text-decoration: underline;
}

.main-header__menu {
    width: 100%;
}

.main-header__menu_padding {
    border-top: 1px solid #e3e3e3;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-header__nav {
    width: 100%;
    text-align: right;
    a {
        display: inline-block;
        padding: 12px 14px;
        font-weight: bold;
        font-size: 11px;
        color: #383837;
        text-transform: uppercase;
        transition: all 0.25s ease-out;
        &:hover,
        &:focus,
        &:active {
            color: #2c8613;
            text-decoration: none;
        }
    }
}

.main-header__call {
    width: 100%;
    text-align: right;
    a {
        display: inline-block;
        font-weight: bold;
        font-size: 11px;
        color: #2c8613;
        text-transform: uppercase;
        padding: 12px;
        margin-right: 20px;
        border: 1px solid #2c8613;
        border-radius: 3px;
        background-color: transparent;
        transition: all 0.25s ease-out;
        &:hover {
            background-color: #2c8613;
            color: #ffffff;
            text-decoration: none;
        }
    }
    span {
        font-weight: bold;
        font-size: 18px;
        color: #343434;
    }
}

.main-slider {
    margin-bottom: 40px;
}

.main-slider__about {
    display: block;
    padding: 30px;
    background-image: url('../images/slider_place.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    span {
        display: block;
        font-weight: bold;
        font-size: 18px;
        color: #ffffff;
        text-transform: uppercase;
    }
    a {
        display: inline-block;
        font-weight: bold;
        font-size: 11px;
        color: #ffffff;
        background-color: transparent;
        border: 1px solid #ffffff;
        border-radius: 3px;
        margin-top: 15px;
        padding: 12px 40px;
        text-transform: uppercase;
        transition: all 0.25s ease-out;
        &:hover {
            background-color: #ffffff;
            color: #2c8613;
            text-decoration: none;
            text-shadow: none;
        }
    }
}

.main-features {
    width: 100%;
    margin-bottom: 40px;
}

.main-features__card {
    display: block;
    border-radius: 4px;
    transition: all 0.25s ease-out;
    &:hover {
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
        span {
            background-color: rgba(33, 130, 20, 1.0);
        }
    }
    img {
        display: block;
        width: 100%;
        height: 240px;
        object-fit: cover;
        border-radius: 4px;
    }
    span {
        display: block;
        width: 90%;
        position: absolute;
        bottom: 0;
        padding-top: 25px;
        padding-bottom: 25px;
        font-weight: bold;
        font-size: 16px;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        background-color: rgba(33, 130, 20, 0.95);
        border-radius: 4px;
    }
}

.main-clients {
    width: 100%;
}

.main-clients__caption {
    display: block;
    position: absolute;
    top: 0;
    padding: 30px 180px;
    font-size: 16px;
    color: #535252;
    text-align: center;
    span {
        display: block;
        margin-top: 30px;
        font-weight: bold;
    }
}

.main-article {
    display: block;
    margin-bottom: 40px;
    font-weight: lighter;
    font-size: 14px;
    color: #595959;
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        font-weight: lighter;
    }
    img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 4px;
    }
}

.main-article_bordered {
    border-bottom: 1px solid #dcd3d4;
    padding-bottom: 25px;
}

.main-article__text {
    display: block;
    margin-right: 20px;
}

.main-map {
    width: 100%;
    margin-bottom: 60px;
}

.main-footer {
    padding-top: 25px;
    padding-bottom: 35px;
    text-align: center;
    background-color: #2e2e2e;
    p {
        display: block;
        margin-top: 10px;
        font-size: 16px;
        color: #595959;
    }
}

.main-footer__nav {
    display: block;
    a {
        display: inline-block;
        padding: 10px 7px;
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
        color: #838280;
        transition: all 0.25s ease-out;
        &:hover {
            text-decoration: none;
            color: #ffffff;
        }
    }
}

.main-footer_phone {
    font-weight: bold;
    color: #727171;
}

.main-footer_aaccent {
    font-size: 12px;
    text-decoration: underline;
    color: #595959;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
}

.carousel-caption {
    text-align: left;
}

@media screen and (min-width: 768px) {
    .carousel-caption {
    left: 10%;
    right: auto;
    }
};

#myCarousel > .carousel-inner > .item > img, #myCarousel > .carousel-inner > .item > a > img {
    border-radius: 0;
}

#myCarousel > .carousel-indicators li {
    background-color: #d0cece;
    border-color: #d0cece;
}

#myCarousel > .carousel-indicators .active {
    background-color: #7d7b7b;
    border-color: #7d7b7b;
}

#myCarousel {
    margin-bottom: 40px;
}

.main-content {
    width: 100%;
    position: relative;
    padding-top: 20px;
    padding-bottom: 100px;
    border-top: 1px solid #dde5d5;
    background-color: #f6ffed;
}

.main-breadcrump {
    width: 100%;
    margin-bottom: 20px;
    a {
        font-weight: lighter;
        font-size: 14px;
        color: #464646;
        text-decoration: underline;
        transition: all 0.25s ease-out;
        &:hover {
            color: #222222;
            text-decoration: none;
        }
    }
    span {
        font-weight: lighter;
        font-size: 14px;
        color: #464646;
    }
}

.dropdown-menu {
    top: 54px;
    left: 40%;
    padding: 30px 10px;
    border: none;
    border-radius: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-overflow: ellipsis;
    img {
        display: block;
        position: absolute;
        top: -20px;
        left: 50px;
    }
}

.dropdown-menu > li > a {
    color: #363333;
    text-decoration: underline;
    text-transform: none;
    transition: all 0.25s ease-out;
    &:hover {
        color: #2c8613;
        background-color: transparent;
    }
}

.product-block {
    width: 100%;
    h1, h2, h3, h4, h5, h6 {
        font-weight: lighter;
        color: #000000;
    }
}

.product-block__info {
    margin-left: 25px;
    h2 {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    span {
        font-weight: lighter;
        font-size: 18px;
        color: #000000;
        display: block;
    }
}

.product-block__info_buy {
    display: block;
    margin-top: 30px;
    margin-bottom: 50px;
}

.product-block__info_price {
    font-size: 24px;
}

.product-info__docs {
    width: 100%;
}

.product-info__docs_img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    transition: all 0.25s ease-out;
    &:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
    }
}

.product-info__docs_loop {
    display: block;
    position: absolute;
    top: 40%;
    left: 45%;
}

.product-block__description {
    width: 100%;
    margin-top: 30px;
    p {
        font-weight: lighter;
        font-size: 16px;
        color: #000000;
    }
}

.main-title {
    display: block;
    margin-bottom: 30px;
    font-weight: lighter;
    font-size: 30px;
    color: #464646;
}

.catalog {
    width: 100%;
}

.catalog__card {
    display: block;
    padding: 15px;
    margin: 5px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
    img {
        display: block;
        width: 100%;
        height: 240px;
        object-fit: cover;
    }
    h3 {
        margin-top: 0;
        font-weight: lighter;
        font-size: 24px;
        color: #2c8613;
        a {
            display: block;
            padding: 0;
            background-color: transparent;
            border: none;
            font-weight: lighter;
            font-size: 24px;
            text-transform: none;
            letter-spacing: 0;
            color: #2c8613;
            &:hover {
                background-color: transparent;
                color: #000000;
            }
        }
    }
    p {
        font-weight: lighter;
        font-size: 14px;
        color: #464646;
    }
    span {
        display: block;
        margin-bottom: 30px;
        font-weight: lighter;
        font-size: 14px;
        color: #464646;
    }
    a {
        display: inline-block;
        padding: 14px 26px;
        background-color: transparent;
        border: 1px solid #2c8613;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #4e4e4e;
        transition: all 0.25s ease-out;
        &:hover {
            background-color: #2c8613;
            color: #ffffff;
            text-decoration: none;
        }
    }
}

.catalog__card_price {
    font-size: 24px;
}

.catalog__card_description {
    padding-left: 20px;
}

.categories {
    width: 100%;
}

.categories__card {
    display: block;
    padding: 15px;
    margin: 5px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
    img {
        display: block;
        width: 100%;
        height: 240px;
        object-fit: cover;
    }
    h3 {
        margin-top: 0;
        font-weight: lighter;
        font-size: 24px;
        color: #000000;
    }
    p {
        font-weight: lighter;
        font-size: 14px;
        color: #464646;
    }
    span {
        display: block;
        margin-bottom: 30px;
        font-weight: lighter;
        font-size: 14px;
        color: #464646;
    }
    a {
        display: inline-block;
        padding: 14px 26px;
        background-color: transparent;
        border: 1px solid #000000;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #4e4e4e;
        transition: all 0.25s ease-out;
        &:hover {
            background-color: #000000;
            color: #ffffff;
            text-decoration: none;
        }
    }
}

.categories__card_description {
    padding-left: 20px;
}

.article {
    width: 100%;
    font-weight: lighter;
    font-size: 14px;
    color: #383636;
}

.article__content {
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        color: #383636;
    }
    p {
        font-weight: lighter;
        font-size: 14px;
        line-height: 1.5;
        color: #383636;
    }
}

.article__image {
    display: block;
    width: 100%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
}


.navbar-toggle {
    img {
        display: block;
        width: 49px;
        height: 49px;
    }
}

#sync1 .item {
    background: #f4f4f4;
    margin: 5px;
    margin-bottom: 10px;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    img {
        display: block;
        width: 100%;
        height: 430px;
        object-fit: cover;
    }
}

#sync2 .item {
    background: #f4f4f4;
    margin: 5px;
    border: 1px solid #8e8a8a;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    img {
        display: block;
        width: 100%;
        height: 60px;
        object-fit: cover;
    }
}

#sync2 .synced .item {
    border: 1px solid #2c8613;
    background: #2c8613;
    box-shadow: 0 0 5px #2c8613;
}