@media (max-width: 1200px) {
    .main-header__menu_padding {
        margin-left: 40px;
    }
    .main-header__call {
        text-align: left;
        a {
            margin-right: 5px;
        }
        span {
            font-size: 12px;
        }
    }
    .dropdown-menu {
        top: 54px;
        left: 25%;
    }
    .main-features__card {
        span {
            width: 88%;
        }
    }
    .main-clients__caption {
        padding: 20px 140px;
        span {
            margin-top: -5px;
        }
    }
}

@media (max-width: 992px) {
    .main-header__menu_padding {
        margin-left: 0;
    }
    .main-header__nav {
        text-align: center;
    }
    .main-header__call {
        text-align: center;
        a {
            margin-right: 25px;
        }
        span {
            font-size: 18px;
        }
    }
    .dropdown-menu {
        top: 37px;
        left: 30%;
        img {
            top: -12px;
        }
    }
    .main-features__card {
        span {
            width: 92%;
        }
    }
    .main-clients__caption {
        padding: 10px 10px;
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .main-header__info {
        display: none;
        text-align: center;
        li {
            margin-right: 25px;
        }
    }
    .main-header__nav {
        a {
            padding: 10px;
        }
    }
    .main-header__call {
        a {
            margin-right: 15px;
        }
        span {
            font-size: 14px;
        }
    }
    .main-slider__about {
        padding: 20px;
        span {
            font-size: 16px;
        }
        a {
            padding: 10px 18px;
            margin-top: 10px;
        }
    }
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        height: 250px;
    }
    .dropdown-menu {
        width: 100%;
        top: 30px;
        left: -1%;
        img {
            display: none;
        }
    }
    .main-features__card {
        span {
            width: 95%;
        }
    }
    .main-footer {
        p {
            font-size: 14px;
        }
    }
    .navbar-toggle {
        display: inline-block;
        margin-top: 0;
        padding: 0;
    }
    .main-header__logo {
        img {
            display: inline-block;
            margin-left: 20px;
        }
    }
    .main-header__nav {
        a {
            display: block;
        }
    }
}

@media (min-width: 992px) {
    .catalog {
        .col-md-6 {
            width: 47%;
        }
    }
    .categories {
        .col-md-6 {
            width: 47%;
        }
    }
}