$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/owl/owl-carousel/_owl.carousel.scss";
@import "bower_components/owl/owl-carousel/_owl.theme.scss";
@import "bower_components/owl/owl-carousel/_owl.transitions.scss";
@import "bower_components/lightbox2/src/css/_lightbox.scss";
@import "_blocks.scss";
@import "_responsive.scss";
// endbower

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #595959;
}

#owl-demo .item{
    background: #42bdc2;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}